.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  &__right {
    flex: 0 1 392px;
    display: flex;
    align-items: center;
  }
  &__date {
    font-family: PTSerif;
    font-size: 12px;
    color: #8b8b8b;
  }
}
