.card {
  line-height: 140%;
  flex: 0 1 50%;
  padding: 0 5px;
  &:first-child {
    flex: 1 1 100%;
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &__img {
    cursor: pointer;
    padding-bottom: 56%;
    position: relative;
  }
  &__info {
    flex: 0 0 70%;
    & h2 {
      cursor: pointer;
      font-size: 14px;
      line-height: 160%;
      margin-bottom: 5px;
      transition: opacity 0.3s ease 0s;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  &__description {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    color: #4f4f4f;
  }
  &__about {
    color: #4f4f4f;
    & span {
      font-size: 10px;
      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }
}
