.headerCenter {
  text-align: center;
  padding: 20px 0;
  border-top: 2px dotted #ededed;
  border-bottom: 2px dotted #ededed;
  & a {
    color: #000;
    display: inline-block;
    & h1 {
      font-family: Bitter;
      font-weight: bold;
      font-size: 54px;
    }
  }
}
